@media screen and (max-width: 479px) {

  .wrapper {
    width: 200px;
  }

  .header {
    width: 200px;
    height: 200px;
  }

  .left {
    width: 200px;
    height: 100px;
  }

  .right {
    width: 200px;
  }

  .footer {
    width: 200px;
  }

  .boxes {
    height: 160px;
    width: 50px;
    position: absolute;
    right: 70px;
  }

  .box {
    float: none;
    margin: auto;
    margin-top: 10px;
  }

  .orange-box {
    margin-left: 30px;
  }

  .orange-box:first-child {
    margin-top: 20px;
  }
}